# Archivos de estado de Terraform

*.tfstate

*.tfstate.*

# Archivos de respaldo de Terraform

*.backup

# Archivos de configuración local

.terraform/

.terraform.lock.hcl

# Archivos de logs y salidas temporales

crash.log

*.tfplan

*.tfvars.json

# Credenciales y variables sensibles

*.tfvars

override.tf

override.tf.json

# Archivos generados por Terraform que no deberían estar en el control de versiones

.terraformrc

terraform.rc